{% extends 'ItesACBackendBundle::layout.html.twig' %}
{% block encabezado %}Editar Aire Acondicionado{% endblock %}
{% block cuerpo %}
<div class="col-xs-12 col-sm-6 col-md-6">
    {{ form(edit_form) }}
</div>
<div class="record_actions" style="padding:25px;">
	<div class="col-xs-5 col-sm-4 col-md-3">
        <a href="{{ path('ac') }}" class="btn btn-default" role="button">
            Back to the list
        </a>
    </div>
    <div class="col-xs-3 col-sm-2 col-md-3">
    	{{ form(delete_form) }}
    </div>
</div>
<div id="ac_position" style="border: 2px solid black; width: 900px; height: 400px; background-size: cover; background-image: url('/Geekly%20Development%20House/ItesAC/web/{{vich_uploader_asset(entity.planta, 'image')}}'); ">
    <img style="position: relative;left:{{entity.posicionX}}px;top:{{entity.posicionY}}px;"
    src="{{ asset('/bundles/itesacbackend/images/ac_vector.png') | imagine_filter('mini_ac') }}" 
    id="actarget"/>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts 
        '@ItesACBackendBundle/Resources/public/js/dependedSelect.js' 
        '@ItesACBackendBundle/Resources/public/js/ACPosition.js'
        '@ItesACBackendBundle/Resources/public/js/dependedImage.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}