{% extends '::base.html.twig' %}

{% block body -%}
    <h1>AireAcondicionado edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('ac') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@ItesACBackendBundle/Resources/public/js/dependedSelect.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
