{% extends 'ItesACBackendBundle::layout.html.twig' %}
{% block encabezado %}Crear Aire Acondicionado{% endblock %}
{% block cuerpo %}
<div class="col-xs-12 col-sm-6 col-md-6">
    {{ form(form) }}
</div>
<div class="record_actions" style="padding:25px;">
	<a href="{{ path('ac') }}" class="btn btn-default" role="button">
	    Back to the list
	</a>
</div>
<div id="ac_position" style="border: 2px solid black; width: 900px; height: 400px; background-size: cover;">
    <img src="{{ asset('/bundles/itesacbackend/images/ac_vector.png') | 
                        imagine_filter('mini_ac') }}" 
    id="actarget"/>
</div>
{% endblock %}
{% block javascripts %}
     {{ parent() }}
     {% javascripts 
        '@ItesACBackendBundle/Resources/public/js/dependedSelect.js' 
        '@ItesACBackendBundle/Resources/public/js/ACPosition.js'
        '@ItesACBackendBundle/Resources/public/js/dependedImage.js' %}
         <script type="text/javascript" src="{{ asset_url }}"></script>
     {% endjavascripts %}
 {% endblock %}