{% extends 'ItesACBackendBundle::layout.html.twig' %}
{% block style %}
{{ parent() }}
<style>
.modal-header {
background: #428bca;
}
</style>
{% endblock %}
{% block encabezado %}Aire Acondicionado{% endblock %}
{% block cuerpo %}
    <div class="table-responsive">
        <table class="record_properties table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Pin</th>
                    <td>{{ entity.pin }}</td>
                </tr>
                <tr>
                    <th>Posicionx</th>
                    <td>{{ entity.posicionX }}</td>
                </tr>
                <tr>
                    <th>Posiciony</th>
                    <td>{{ entity.posicionY }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row record_actions">
        <div class="btn-group col-xs-8 col-sm-8 col-md-8">
                <a href="{{ path('ac') }}" class="btn btn-default" role="button">
                    Back to the list
                </a>
                <a href="{{ path('ac_edit', { 'id': entity.id }) }}" class="btn btn-default" role="button">
                    Edit
                </a>
            <a href="ac" data-toggle="modal" data-target="#ac" class="btn btn-success" role="button">Posición AC</a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
                {{ form(delete_form) }}
        </div>
    </div>
{% endblock %}
{% block modal %}
<div class="modal fade" id="ac" tabindex="-1" role="dialog" aria-labelledby="labelac" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="labelac" style="color:white;">Posicion AC</h4>
      </div>
      <div class="modal-body">
        <div id="ac_position" style="border: 2px solid black;width:100%; position: relative; margin: auto;"> 
            <img class= "img-responsive"  src="/Geekly%20Development%20House/ItesAC/web/{{vich_uploader_asset(entity.planta, 'image')}}">
            <img style="width:3.8%; height:3.3%;position: absolute;left:{{entity.posicionX}}%;top:{{entity.posicionY}}%;"
            src="{{ asset('/bundles/itesacbackend/images/ac_vector.png') | imagine_filter('mini_ac') }}">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}