{% extends 'ItesACBackendBundle::layout.html.twig' %}
{% block encabezado %}Listado de modelos de AC{% endblock %}
{% block cuerpo %}
<div class="table-responsive">
    <table class="records_list table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('modelo_show', { 'id': entity.id }) }}">{{ entity.nombre }}</a></td>
                <td>
                <div class="btn-group hidden-xs">
                        <a href="{{ path('modelo_show', { 'id': entity.id }) }}" class="btn btn-default" role="button">show</a>
                        <a href="{{ path('modelo_edit', { 'id': entity.id }) }}" class="btn btn-default" role="button">edit</a>
                    </div>
                    <div class="btn-group-vertical visible-xs">
                        <a href="{{ path('modelo_show', { 'id': entity.id }) }}" class="btn btn-default" role="button">show</a>
                        <a href="{{ path('modelo_edit', { 'id': entity.id }) }}" class="btn btn-default" role="button">edit</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="pull-right">
    <a href="{{ path('modelo_new') }}" class="btn btn-primary" role="button">
        Create a new entry
    </a>
</div>
{% endblock %}
