{% extends 'ItesACControlBundle::layout.html.twig' %}
{% block encabezado %}Totalidad AC{% endblock %}
{% block topinfo %}
<p id="all_on">Total AC encendidos: {{ badge('0') }}</p>
<p id="all_off">Total AC apagados: {{ badge('0') }}</p>
<div class="btn-group btn-group-justified">
      <a href="#" data_link="{{path('control_all_off')}}" class="btn btn-danger turn_off all" role="button">{{ icon('off') }} OFF ALL</a> 
      <a href="#" data-link="{{path('control_all_on')}}" class="btn btn-success" role="button">ON ALL</a>
</div>
{% endblock %}
{% block cuerpo %}
{% for entity in edificios %}
<div class="col-sm-6 col-md-4 col-lg-4">
    {%if entity.plantas|length > 0 %}
    <div class="thumbnail"style="border: 1px solid;border-color: #A3A4A8 #B1B2B4 #A5A6A8;">
      <a href="{{path('control_planta', {'id': entity.plantas|first.id})}}" class="btn btn-primary btn-block" role="button"><h1>Edificio {{ entity.nombre }}</h1></a>
      <div class="caption edif_data">
          <h3>Detalles</h3>
          <p id="edificio_{{entity.id}}_on" class="cont_on">AC encendidos: {{ badge('0') }}</p>
          <p id="edificio_{{entity.id}}_off" class="cont_off">AC apagados: {{ badge('0') }}</p>
          <div class="col-sm-12 text-center"><p>Ir a la planta:</p></div>
          <div class="col-sm-12 btn-group btn-group-justified">
              <a href="{{path('control_planta', {'id': entity.plantas|first.id})}}" class="btn btn-primary" role="button">{{ entity.plantas|first.nombre }}</a>
              <a href="{{path('control_planta', {'id': entity.plantas|last.id})}}" class="btn btn-primary" role="button">{{ entity.plantas|last.nombre }}</a>
          </div>
          <div class="btn-group btn-group-justified" style="padding-top:10px;">
              <a href="#" data_link="{{path('control_edificio_off', { 'id': entity.id })}}" data-id="{{entity.id}}" class="btn btn-danger turn_off edificio" role="button">{{ icon('off') }} OFF ALL</a> 
              <a href="#" data_link="{{path('control_edificio_on', { 'id': entity.id })}}" class="btn btn-success" role="button">ON ALL</a>
          </div>
      </div>
    </div>
    {%else%}
    <div id="noplant" class="thumbnail" style="border: 1px solid #d9534f;">
      <h1 class="text-center">Edificio {{ entity.nombre }}</h1>
      <p class="text-danger text-center">Este edificio no cuenta con plantas registradas.</p>
      <a href="{{path('planta_new')}}" class="btn btn-primary btn-block" role="button"><h2>Crear planta</h2></a>
    </div>
    {%endif%}
</div>
{% endfor %}
{% endblock %}
{% block javascripts %}
     {{ parent() }}
     {% javascripts 
        '@ItesACControlBundle/Resources/public/js/checkAC.js' 
        '@ItesACControlBundle/Resources/public/js/turnOff.js' %}
         <script type="text/javascript" src="{{ asset_url }}"></script>
     {% endjavascripts %}
 {% endblock %}