{% extends 'ItesACControlBundle::layout.html.twig' %}
{% block encabezado %}{{ planta.alias }}{% endblock %}
{% block topinfo %}
<p id="planta_on">Total AC encendidos: {{ badge('0') }}</p>
<p id="planta_off">Total AC apagados: {{ badge('0') }}</p>
<div class="btn-group btn-group-justified">
      <a href="#" data-link="{{path('control_planta_off', { 'id': planta.id })}}" data-id="{{planta.id}}" class="btn btn-danger turn_off planta" role="button">{{ icon('off') }} OFF ALL</a> 
      <a href="#" data-link="{{path('control_planta_on', { 'id': planta.id })}}" data-id="{{planta.id}}" class="btn btn-success turn_on planta" role="button">ON ALL</a>
</div>
{% endblock %}
{% block cuerpo %}
    {%for plant in planta.edificio.plantas%}
        {%if plant!=planta%}
            <a href="{{path('control_planta', {'id': plant.id})}}" class="btn btn-primary" role="button"><h2>Cambiar a {{ plant.nombre }}</h2></a>
        {%endif%}
    {%endfor%}
    <div id="ac_position" style="border: 2px solid black;width:100%; position: relative; margin: auto;margin-top:10px;"> 
        <img class= "img-responsive"  src="/{{vich_uploader_asset(planta, 'plantas_image')}}">
        {% for ac in planta.aires %}
            <img id="ac_{{ac.id}}" class="ac" data-id="{{ac.id}}" style="width:3.8%; position: absolute;left:{{ac.posicionX}}%;top:{{ac.posicionY}}%;"
                src="{{vich_uploader_asset(ac.modelo, 'modelos_image') | imagine_filter('mini_ac') }}">
        {%endfor%}
    </div>
{%endblock%}