{% extends '::base.html.twig' %}
{% block style %}
{{ parent() }}
    <style>
   .is_on{   
      -moz-box-shadow: 0px 0px 30px #A3FF0F; 
      -webkit-box-shadow: 0px 0px 30px #A3FF0F; 
      box-shadow: 0px 0px 30px #A3FF0F;
      padding: 1px;
      margin: 4px;
   }
   .is_off{   
      -moz-box-shadow: 0px 0px 30px #F22222; 
      -webkit-box-shadow: 0px 0px 30px #F22222; 
      box-shadow: 0px 0px 30px #F22222;
      padding: 1px;
      margin: 4px;
   }
    </style>
{% endblock %}
{% block body -%}
<div class="col-sm-4 col-md-3 col-lg-3 hidden-xs">
    <div class="panel panel-primary" data-spy="affix" data-offset-top="1" style="width:240px;">
        <div class="panel-heading"><strong>{% block encabezado %}{% endblock %}</strong></div>
        <div class="panel-body">
            {% block topinfo %}{% endblock %}
        </div>
    </div>
</div>
<div class="col-xs-12 visible-xs">
    <div class="panel panel-primary">
        <div class="panel-heading">{{ block('encabezado') }}</div>
        <div class="panel-body">
            {{ block('topinfo') }}
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
    {% block cuerpo %}{% endblock %}
</div>
{% endblock %}
 {% block process %}
     <div id="countdown">
         <div id="infobf"></div>
     <span id="clock"></span>
     <div id="infoaf"></div>
     </div>
 {% endblock %}
{% block javascripts %}
     {{ parent() }}
     <script src="/vendor/jquery.countdown/dist/jquery.countdown.js"></script>
     <script language="javascript">
         var enab=true;
     </script>
     {% javascripts 
        '@ItesACControlBundle/Resources/public/js/checkAC.js' 
        '@ItesACControlBundle/Resources/public/js/turnOff.js'  
        '@ItesACControlBundle/Resources/public/js/remoteProcess.js'
        '@ItesACControlBundle/Resources/public/js/turnOn.js'%}
         <script type="text/javascript" src="{{ asset_url }}"></script>
     {% endjavascripts %}
     {{ render(controller('ItesACControlBundle:Ajax:latelyAC'))}}
 {% endblock %}
