{% extends '::base.html.twig' %}
{% block style %}
{{ parent() }}
    <style>
   .is_on{   
      -moz-box-shadow: 0px 0px 13px #10C400; 
      -webkit-box-shadow: 0px 0px 13px #10C400; 
      box-shadow: 0px 0px 13px #10C400;
    border:1px solid #10C400;
   }
   .is_off{   
      -moz-box-shadow: 0px 0px 13px #F22222; 
      -webkit-box-shadow: 0px 0px 13px #F22222; 
      box-shadow: 0px 0px 13px #F22222;
    border:1px solid #F22222;
   }
   #countdown{
       margin-top: 5px;
       margin-bottom: 5px;
       padding: 10px;
	border-radius:5px;
	border:1px solid #CCC;
   }
    </style>
{% endblock %}
{% block body -%}
<div class="col-sm-4 col-md-3 col-lg-3 hidden-xs">
    <div class="panel panel-primary" data-spy="affix" data-offset-top="1" style="width:240px;">
        <div class="panel-heading"><strong>{% block encabezado %}{% endblock %}</strong></div>
        <div class="panel-body">
            {% block topinfo %}{% endblock %}
        </div>
    </div>
</div>
<div class="col-xs-12 visible-xs">
    <div class="panel panel-primary">
        <div class="panel-heading">{{ block('encabezado') }}</div>
        <div class="panel-body">
            {{ block('topinfo') }}
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
    {% block cuerpo %}{% endblock %}
</div>
{% endblock %}
 {% block process %}
     <div id="countdown" style="background-color: white;display:none;">
         <div id="infobf"></div>
     <span id="clock"></span>
     <div id="infoaf"></div>
     </div>
 {% endblock %}
{% block javascripts %}
     {{ parent() }}
     <script src="/vendor/jquery.countdown/dist/jquery.countdown.js"></script>
     <script language="javascript">
         var enab=true;
         $(document).ready(function(){
             var height = $("#countdown").outerHeight(true);
            window.setInterval(function(){
                check();
              }, 5000);
            function check(){
            height = $("#countdown").outerHeight(true);
            if($('#infobf').is(':empty')){
                $('#menubar').attr("style", "");
                $("#countdown").hide(1000);
            }
            else{
            $('#menubar').css("padding-bottom", height + "px");
            $("#countdown").show(1000);
            }
            }
          });
     </script>
     {% javascripts 
        '@ItesACControlBundle/Resources/public/js/checkAC.js' 
        '@ItesACControlBundle/Resources/public/js/turnOff.js'  
        '@ItesACControlBundle/Resources/public/js/remoteProcess.js'
        '@ItesACControlBundle/Resources/public/js/turnOn.js'%}
         <script type="text/javascript" src="{{ asset_url }}"></script>
     {% endjavascripts %}
     {{ render(controller('ItesACControlBundle:Ajax:latelyAC'))}}
 {% endblock %}
